.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.logo img {
    width: 271px;
}
.header-full-area{
    background-color: #FFF;
}
nav.menu ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    margin-left: 23px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}
nav.menu ul li {
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul {
    margin-bottom: 0;
}