.banner-area{
    padding: 100px 0;
}
.banner-area .container .row{
    align-items: center;
}
.banner-image img {
    width: 92%;
}
.banner-content {
    text-align: left;
}
.banner-area {
    background: #009af5;
}
.banner-content h2 {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
}
.banner-content a {
    background: #FFF;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 29px;
    color: #000;
    font-size: 18px;
    margin-top: 23px;
    display: inline-block;
    transition: 0.5s;
}
.banner-content a:hover {
    background: #000;
    color: #FFF;
}